<!DOCTYPE html>
<html>
<head>
  <title>Rake ui</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://cdn.rawgit.com/doximity/vital/v2.2.1/dist/css/vital.min.css">

  <%= stylesheet_link_tag "rake_ui/application", media: "all" %>
</head>
<body>
  <%= link_to "Tasks", rake_tasks_path %>
  <%= link_to "Last Ran", rake_task_logs_path %>

  <%= yield %>
</body>
</html>
