<!DOCTYPE html>
<html>
<head>
  <title>Rake ui</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://cdn.rawgit.com/doximity/vital/v2.2.1/dist/css/vital.min.css">

  <%= stylesheet_link_tag "rake_ui/application", media: "all" %>
</head>
<body>

  <!-- Nav Menu -->
  <div class="row header">
    <div class="section">
      <nav>
        <ul class="menu">
          <li><%= link_to "Logs", rake_task_logs_path %></li>
          <li><%= link_to "Rake Tasks", rake_tasks_path %></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- End Nav Menu -->
  <div>
    <%= yield %>
  </div>
</body>
</html>
