<div class="row">
  <div class="section">
    <h1>Rake Tasks</h1>

    <hr />

    <div class="section">
      <%= link_to "Show all tasks", rake_tasks_path(show_all: "yes"), { class: 'btn' } %>
      <%= link_to "Show only internal tasks", rake_tasks_path, { class: 'btn' } %>

      <p>
        <input data-table-filter placeholder="Filter Items" />
      </p>
    </div>

    <div class="section">
    </div>

    <table>
      <thead>
      <tr>
        <th>Custom?</th>
        <th>Name </th>
        <th>Full Comment</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @rake_tasks.each do |rake_task| %>
        <tr data-table-filterable="<%= rake_task.name_with_args %>">
          <td><%= rake_task.is_internal_task ? "Y" : "n" %></td>
          <td><%= link_to rake_task.name_with_args, rake_task_path(rake_task.id) %></td>
          <td><%= rake_task.full_comment %></td>
          <td><%= link_to "Go Here", rake_task_path(rake_task.id), { class: 'btn' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="application/javascript">
  function hide(elm) {
    elm.style.display = "none";
  }

  function show(elm) {
    elm.style.display = "";
  }

  function toggle(elm) {
    if (elm.style.display === "none") {
      show(elm);
    }  else {
      hide(elm);
    }
  }

  function filterTable(value) {
    var tableRows = document.querySelectorAll('[data-table-filterable]');

    for (var i = 0; i < tableRows.length; i++) {
      var row = tableRows[i];

      if (value == "") {
        show(row)
      } else {
        if (row.dataset.tableFilterable.includes(value)) {
            show(row)
        } else {
            hide(row)
        }
      }
    }
  }

  var input = document.querySelector('[data-table-filter]');

  input.addEventListener('input', function handleInput(input) {
    filterTable(input.target.value)
  })
</script>