<div class="row">
  <div class="section">
    <h1>Rake Tasks</h1>

    <hr />

    <div class="section">
      <%= link_to "Show all tasks", rake_tasks_path(show_all: "yes"), { class: 'btn' } %>
      <%= link_to "Show only internal tasks", rake_tasks_path, { class: 'btn' } %>
    </div>

    <table>
      <thead>
      <tr>
        <th>Custom?</th>
        <th>Name</th>
        <th>Full Comment</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @rake_tasks.each do |rake_tasks| %>
        <tr>
          <td><%= rake_tasks.is_internal_task ? "Y" : "n" %></td>
          <td><%= link_to rake_tasks.name_with_args, rake_task_path(rake_tasks.id) %></td>
          <td><%= rake_tasks.full_comment %></td>
          <td><%= link_to "Go Here", rake_task_path(rake_tasks.id), { class: 'btn' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
