<div class="row">
  <div class="section">
    <h1>Rake Tasks</h1>

    <hr />

    <div class="section">
      <%= link_to "Show all tasks", rake_tasks_path(show_all: "yes"), { class: 'btn' } %>
      <%= link_to "Show only internal tasks", rake_tasks_path, { class: 'btn' } %>
    </div>

    <div class="section">
      <p>
        Filter Table <input data-table-filter placeholder="Enter Text" />
      </p>
    </div>

    <table>
      <thead>
      <tr>
        <th>Actions</th>
        <th>Custom?</th>
        <th>Name </th>
        <th>Full Comment</th>
      </tr>
      </thead>

      <tbody>
      <% @rake_tasks.each do |rake_task| %>
        <tr data-table-filterable="<%= rake_task.name_with_args %>">
          <td><%= link_to "Go Here", rake_task_path(rake_task.id), { class: 'btn' } %></td>
          <td><%= rake_task.is_internal_task ? "Y" : "n" %></td>
          <td><%= link_to rake_task.name_with_args, rake_task_path(rake_task.id) %></td>
          <td><%= rake_task.full_comment %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "partials/rake_ui/table_filterable" %>
