<div class="row">
  <div class="section">
    <h1>Submit Rake Task</h1>

    <hr />

    <h3>Task Name: <%= @rake_task.name_with_args %></h3>

    <% if @rake_task.full_comment %>
      <p>Comments: <%= @rake_task.full_comment %></p>
    <% end %>

    <%= form_with url: rake_task_execute_path(@rake_task.id), method: :post, class: 'full-width-forms' do |f| %>
      <label>
        <%= f.text_field :args, placeholder: "Rake arguments" %>
      </label>

      <label>
        <%= f.text_field :environment, placeholder: "Environmental variable overrides" %>
      </label>

      <%= f.submit "Submit", class: "btn solid blue" %>
    <% end %>
  </div>
</div>
